@charset "UTF-8";

body {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
} /* a 태그 */

.wrap {
	display: flex;
	flex-direction: column;
	width: 1340px;
	align-items: center;
	justify-content: center;
} /* 화면전체 */


.container {
	width: 1280px;
	height: 1280px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #E8E8E8;
} /* 중앙영역 전체 */

.board-Menu {
	position: relative;
	width: 1280px;
	height: 150px;
	background: #DEDEDE;
}

.board-Menu-Bottom {
	display: flex;
	position : absolute;
	bottom : 0;	
}

.board-Category {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 142px;
	height: 40px;
	background: #EEEEEE;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #000000;
}

.board-Category:hover {
	background-color: #000000;
	color: #ffffff;
}
