@charset "UTF-8";

body {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
} /* a 태그 */

.wrap {
	display: flex;
	flex-direction: column;
	width: 1340px;
	align-items: center;
	justify-content: center;
} /* 화면전체 */


.container {
	width: 1280px;
	height: 1280px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #E8E8E8;
} /* 중앙영역 전체 */

.board-Menu {
	position: relative;
	width: 1280px;
	height: 150px;
/* 	background: #DEDEDE; */
}

.board-Menu-Bottom {
	display: flex;
	position : absolute;
	bottom : 0;	
}

.board-Category {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 142px;
	height: 40px;
	background: #EEEEEE;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #000000;
}

.board-Category:hover {
	background-color: #000000;
	color: #ffffff;
}

.board-List {
	width: 1280px;
	height: 800px;
	box-sizing: border-box;
	border: 1px solid #E8E8E8;
}

.board-Name {
	display: flex;
	width: 400px;
	height: 50px;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	color: #000000;
}

.post-Type {
	display: flex;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: #828282;
}

.board-Print {
	flex-direction: column;
}

.post-List {
	display: flex;
	width: 1280px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	margin-top: 2px;
}

.post-No {
	width: 100px;
	height: 40px;
	
}

.post-Category {
	width: 140px;
	height: 40px;
}

.post-Hit {
	width: 100px;
	height: 40px;
}

.post-Recommend {
	width: 100px;
	height: 40px;
}

.post-Title {
	width: 530px;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-Writer {
	width: 150px;
	height: 40px;
}

.post-Date {
	width: 150px;
	height: 40px;
}

.board-Paging {
	display: flex;
	width: 1280px;
}

.board-Paging-Count {
	width: 1000px;
}

.post-create {
	width: 280px;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-align: right;
}

.write {
	padding: 0px 16px;
	gap: 8px;
	background: #EEEEEE;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.pagination {
	display: flex;
}

.paging-Number {
	width: 25px;
}

#sort {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px;
	gap: 16px;
	position: relative;
	width: 120px;
	height: 32px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
}